name: Run gha script

on: [push]

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # - name: Install dependencies
      #   run: |
      #     pip install -r requirements.txt

      - name: Run script
        run: |
         python -m pip install --upgrade pip
           python -m pip install numpy
            python -m pip list
          python gha/gha.py
